/*
// frontpage.css
// HackTrack
//
// Copyright 2015 (c) Progress Software
// Author: Akhil Nistala
*/

StackPanel {
	margin: 30;
}

Label {
	text-align: center;
	font-size: 50;
	margin: 20;
}

Button {
	font-size: 35;
	margin: 10;
}
