/*
// main.css
// HackTrack
//
// Copyright 2015 (c) Progress Software
// Author: Akhil Nistala
*/

Label {
	font-size: 17;
	margin: 20;
}

Button {
	font-size: 25;
	margin: 7;
	height: 43;
	width: 250;
	color: #ffffff;
	background-color: #00008B;
}
