/*
// register.css
// HackTrack
//
// Copyright 2015 (c) Progress Software
// Author: Akhil Nistala
*/

StackPanel {
	margin: 20;
}

Label {
	text-align: center;
	font-size: 25;
	margin: 20;
}

TextField {
	font-size: 17;
	margin: 15;
}

#register {
	font-size: 23;
}
