/*
// resetpass.css
// HackTrack
//
// Copyright 2015 (c) Progress Software
// Author: Akhil Nistala
*/

StackPanel {
	margin: 25;
}

Label {
	font-size: 23;
	margin: 6;
	text-align: center;
}

TextField {
	font-size: 16;
	margin: 10;
	height: 21;
}

Button {
	margin: 10;
	font-size: 20;
	height: 40;
	width: 200;
	color: #ffffff;
	background-color: #00008B;
}
